.kafelek {
    width: 100px;
    height: 100px;
    background-color: #0081d1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;

}